<div class="container my-4">
    <% @trees.each do |tree| %>
        <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <p>Name: <%= link_to tree.name, tree_path(tree) %>
            <p>Address: <%= tree.address %></p>
            <p>Description: <%= tree.description %></p>
            <p>Type of fruits: <%= tree.fruit_type %></p>
            <p>Price/year: <%= tree.price_per_year %></p>
            <p>Quantity: <%= tree.quantity_per_year %></p>
        </div>
    <% end %>

    <%= link_to "Create a tree", new_tree_path(@tree) %>

</div>