<div class="container">
    <h1><%= @tree.name %></h1>
        <tr>
        <th scope="row">Address</th>
        <td><%= @tree.address %></td>
    </tr>

    <%= @tree.description %>
    <%= @tree.fruit_type %>
    <%= @tree.price_per_year %>
    <%= @tree.quantity_per_year %>

</div>