<div class="container">
    <h1><%= @tree.name %></h1>
        <tr>
        <th scope="row">Address</th>
        <td><%= @tree.address %></td>
    </tr>

    <%= @tree.description %>
    <%= @tree.fruit_type %>
    <%= @tree.price_per_year %>
    <%= @tree.quantity_per_year %>

    <p><%= link_to 'Edit', edit_tree_path(@tree) %></p>
    <p><%= link_to 'Delete', tree_path(@tree),  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></p>




</div>